@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'sass:color';

.footer {
  background-color: $rosa;
  padding: 2rem 0;
  color: $blanco;
  text-align: center;

  p {
    margin: 0;
    color: $blanco;
    text-align: center;
  }
}